.ttable {
  min-width: 100%;
  text-align: center;
  flex: 0 0 auto;
}

.ttable tbody button {
  margin: 0 2px;
}

.ttable th,
.ttable td {
  padding: 5px;
  word-break: break-all;
}

.ttable .sticky-col {
  position: sticky;
  left: 0;
  top: auto;
}

.ttable td {
  height: 30px;
}

.ttable td.text-right {
  text-align: right;
  padding-right: 20px;
}

@media only screen and (max-width: 767px) {
  .ttable {
    display: block;
  }
  .ttable thead,
  .ttable tbody,
  .ttable tfoot,
  .ttable th,
  .ttable td,
  .ttable tr {
    display: block;
  }

  .ttable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .ttable tbody tr td {
    height: auto;
    min-height: 30px;
    position: relative;
  }

  .ttable tbody tr td span,
  .ttable tbody tr td a {
    line-height: 34px;
  }

  .ttable td:before {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 40px;
  }

  .ttable td:before {
    content: attr(data-title);
  }

  .ttable td span.spill {
    display: inline-block;
    width: 200px;
  }

  tfoot tr td {
    position: relative;
  }

  /* spec */
  .content-main .ttable tr,
  .rank-container .ttable tr {
    border-bottom: 1px solid #ba1830;
  }

  .content-main .ttable tr:first-child,
  .rank-container .ttable tr:first-child {
    border-top: 1px solid #ba1830;
  }
}